<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackedit.io/style.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <title><%= title %> </title>
</head>
<nav class="nav">
    
    <ul class="nav__list">
        <h1 >
            <li><a class="nav__title" href="/">dev</a></li>
        </h1>
        <div class="nav__item-container">
          
           
            <% if (!session.user) { %>

                <li><a class="nav__item" href="/login">Se connecter</a></li>
                <li><a class="nav__item" href="/signup">Inscription</a></li>

            <% } else if(Number(session.user.role_id) === 3) { %>
                <li><a class="nav__item" href="/admin/reset_database">Reset database</a></li>                
                <li><a class="nav__item" href="/admin/account"><%= session.user.login %></a></li>                
                <li><a class="nav__item" href="/add/lesson">Nouvelle lesson</a></li>
                <li><a class="nav__item" href="/logout">Se deconnecter</a></li>

            <% } else if(Number(session.user.role_id) === 2) { %>
                
                <li><a class="nav__item" href="/admin/account"><%= session.user.login %></a></li>
                <li><a class="nav__item" href="/add/lesson">Nouvelle lesson</a></li>
                <li><a class="nav__item" href="/logout">Se deconnecter</a></li>

            <% } else if(Number(session.user.role_id) === 1) { %>                
                <li><a class="nav__item" href="/admin/account"><%= session.user.login %></a></li>                
                <li><a class="nav__item" href="/logout">Se deconnecter</a></li>
            <% } %>
            
          
        </div>       
    </ul>
</nav>
<body>
    

