<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackedit.io/style.css"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    
    <title><%= title %> </title>
</head>
<nav class="nav">
    
    <ul class="nav__list">
        <h1 >
            <li><a class="nav__title" href="/">dev</a></li>
        </h1>
        <div class="nav__item-container">
            <li><a class="nav__item" href="/learn/javascript">Javascript</a></li>
            <li><a class="nav__item" href="/learn/nodejs">NodeJS</a></li>
            <li><a class="nav__item" href="/learn/express">Express</a></li>
            <li><a class="nav__item" href="/add/lesson">Ajouter une leçon</a></li>
        </div>       
    </ul>
</nav>
<body>
    

