<div class="thematic__container">
    <ul class="thematic__list">
        <% for(const thematic of thematics){ %>
            <li class="thematic__li"><a class="thematic__item" href="/learn/<%= thematic.category %>"><%= thematic.category %></a></li>
        <% } %>
       
    </ul>
</div>

