<%-include('partials/header', {title: 'Cours indéfini'}); %>
<!-- access au thematic -->
<%-include('partials/thematic', {thematics}); %>

    <div class="form__title-container">
        <h2 class="form__title-text"> Pas de ressource</h2>
    </div>

<%-include('partials/footer'); %>