<%-include('partials/header', {title: 'nouvelle leçon'}); %>
<div class="form-container">
    <form class="form" action="/add/lesson" method="post" enctype="multipart/form-data" >


        <div class="form__title-container">
            <h2 class="form__title-text">Ajout d'une lesson </h2>
          </div>

        <!-- nom de la leçon -->
        <div class="form__container-group">
            <label for="lesson_name" class="form__label">Titre de la leçon</label>
            <input type="text" name="lesson_name" class="form__input">
        </div>        
    
        <!-- choix dutype de leçon -->
        <div class="form__container-group">
            <label class="form__label" for="subject">Selectionner le sujet de cours</label>
            <select name="subject" id="subject">                
                <% for(subject of subjects) { %>
                    <option value= "<%= subject.id %>" > <%= subject.lesson_name %> </option>
                <%}%>
            </select>
        </div>
    
         <!-- choix dutype de leçon -->
         <div class="form__container-group">
            <label class="form__label" for="file-lesson">Selectioner votre fichier</label>
            <input type="file" name="file-lesson" id="">
            </select>
        </div>

        
        <!-- le cours au complet -->
        <div class="form__container-group">
            <label for="data" class="form__label">Tapper le contenu du code au format html</label>
            <textarea name="data" class="form__input"></textarea>
    
        </div>  
        
        <input type="submit" value="enregistrer le cours">
    </form>
</div>


<%-include('partials/footer'); %>