:root{

    --title: 4rem;
    --nav-link : 1.2rem;
    --small-size : 1rem;
    --middle-size : 1.5rem;
    --big-size : 2rem;
    --bold : 700;
    --black : 900;
}

/*#region Nav*/

.nav{

    max-width: 100%;
    display: flex;    
    align-items:center;    
    background-color: brown;
}

.nav__title{
    font-size: var(--title);
    color: white;
    text-transform: uppercase;
    text-decoration: none;  


}

.nav__list{   
    width: 100%;    
    display: flex;
    align-items:center;
    justify-content: space-between;    
    padding: 10px;;

}

.nav__item-container{
    display: flex;

}

.nav__item{
    font-size: var(--nav-link);
    color: white;
    font-weight: var(--bold);
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;    
}

/*#endregion NAV*/

/*#region Formulaire*/

.form-container{
    max-width: 70%;
    height: calc(100vh - 85px);
    margin: 0px auto;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: calc(100vh - 85px);
    
 

}

.form__title-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form__title-text{
    font-size: var(--big-size);
    text-transform: uppercase;
    font-weight: var(--black);
    padding: 50px;

}



.form__container-group{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 25px 20px;
}

.form__label{
    font-weight: var(--bold);
    text-transform: uppercase;
    padding: 10px;

}

.form__input{
    border: 0.1px solid lightgray;
    padding: 5px 0px;
    border-radius: 10px;
    padding-left: 5px;
}

.button--submit{
    max-width: 60%;
    padding: 10px 20px;
    background-color: transparent;
    color:brown ;
    border:1px solid gray;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: var(--bold);
    font-size: var(--middle-size);
    cursor: pointer;

}
/*#endregion Formulaire*/

/*#region alert message*/
.alert{
    margin: 20px;
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;   
    display: flex;
    align-items: center;
    justify-content: center;


}
.alert--text{
    padding: 10px 20px;    
    font-weight: 700; 
    color: white;    
    text-decoration: none;    
    text-transform: uppercase;
}

.error{
    background-color: rgb(189, 88, 88);
}

.success{
    background-color: green;
}
/*#endregion alert message*/

/*#region thematic navigation*/

.thematic__container{
    max-width: 80%;
    margin: 0px auto;
}

.thematic__list{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.thematic__li{
    padding: 25px 0px;
 
    
}

.thematic__item{
    text-transform: uppercase;
    font-weight: var(--bold);
    text-decoration: none;
    color: white;
    font-size: var(--small-size);
    border: 0.1px solid red;
    border-radius: 10px;
    padding: 7px 20px;
    background-color: lightsalmon;
  
   
}

/*#endregion thematic navigation*/
